[Desktop Entry]
GenericName=I/O
Name=I/O
Encoding=UTF-8
Version=1.0
Comment=Paroli I/O
StartupNotify=false
Exec=dbus-send --system --print-reply --dest=org.tichy.launcher /Launcher org.tichy.Launcher.Launch string:Paroli-I/O
Icon=/usr/share/icons/paroli/i-o.png
Terminal=false
Type=Application
SingleInstance=true
Categories=Telephony;TelephonyTools
