[Desktop Entry]
GenericName=Paroli
Name=Paroli
Encoding=UTF-8
Version=1.0
Comment=Paroli Daemon
StartupNotify=false
Exec=paroli
Icon=parolid
Terminal=false
Type=Application
SingleInstance=true
Categories=Telephony;TelephonyTools
