package 'sslh'

config 'sslh' 'default'
	# disable or enable
	option 'enable' '1'
	# listen defaults to '0.0.0.0:443' (all interfaces)
	# -p <listenaddr>:<listenport>
	option 'listen' ''
	# ssh defaults to 'localhost:22'
	# -s <sshhost>:<sshport>
	option 'ssh' ''
	# ssl defaults to 'localhost:442'
	# -l <sslhost>:<sslport>
	option 'ssl' ''
	# timeout (for ssh, then ssl is assumed) defaults to 2
	# -t
	option 'timeout' ''
	# verbose defaults to off
	# -v
	option 'verbose' '0'
