# Paroli configuration file
# 
# The values can be overloaded by the configuration file in
# ~/.paroli/paroli.cfg
#
# This config is used when paroli is installed as a package
# this config is aimed to provide a running environment on a
# Neo Freerunner

[plugins]
path = /usr/share/paroli/services:/usr/share/paroli/applications

[services]
#defaults = GSM:Test, SIM:Test, Audio:Test,

[autolaunch]
#application = Paroli-Launcher2

[standalone]
activated = True

[advanced-mode]
activated = True

[dbus]
activated = True

[settings]
activated = True

[error_messages]
activated = True
